<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - {{ subtitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/style.css">
    <link rel="stylesheet" href="{{ base_path }}/css/highlight/github.min.css">
    <script src="{{ base_path }}/scripts/highlight.min.js"></script>

    <script>hljs.highlightAll();</script>
</head>

<body id="{{ slug }}">

<nav>
<section>
    <span class="home">
        <a href="{{ base_path }}/">Home</a>
    </span>
    <span class="links">
        <a href="{{ base_path }}/about/">About</a>
        <a href="{{ base_path }}/contact/">Contact</a>
    </span>

</section>
</nav>

<main>
{{ content }}
</main>

<footer>
<section>
<p>&copy; {{ current_year }} Matthew Laird</p>
<p>
    <a href="https://github.com/lairdm">GitHub</a>
    <a href="https://bsky.app/profile/matthewlaird.bsky.social">Bluesky</a>
    <a href="https://www.linkedin.com/in/matthew-laird-9329aa13/">Linkedin</a>
</p>
</section>
</footer>

</body>
</html>
